.grid {
    margin-top: 20px;
    text-align: center;
}

.rows-distinct {
    margin-top: -2.5px;
}

.button-container {
    text-align: center;
    background-color: #34495e;
    padding-left: 80px;
    height: 5%;
}

button {
    opacity: 1;
    margin: 20px 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    transition-duration: 0.3s;
}

.grid-buttons {
    background-color: rgb(221, 48, 86);
}

.algo-buttons {
    background-color: cornflowerblue;
}

.algo-buttons:hover {
    background-color: rgb(69, 106, 175);
}

.grid-buttons:hover {
    background-color: rgb(194, 3, 41);
}

.disabled-buttons {
    opacity: 0.65;
    cursor: not-allowed;
}

.credits {
    margin-top: 30px;
    text-align: center;
}

#my-github {
    color: rgb(69, 106, 175);
}

.additional-buttons:hover {
    background-color: rgb(214, 69, 16);
}

label {
    color: white;
}

#bar-title {
    color: white;
}

.additional-buttons {
    background-color: rgb(255, 76, 10);
}

@media (max-width: 1440px) {
    .button-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        padding: 5px;
    }

    #bar-title {
        width: 80%;
        order: 1;
        border: 1px solid white;
        border-radius: 5px;
        padding: 8px;
        float: left;
    }

    button {
        width: 30%;
        order: 2;
    }

    label {
        order: 3;
        width: 30.5%;
    }
}

@media (min-width: 1440px) {
    .additional-buttons {
        position: absolute;
        right: 40px;
        background-color: rgb(255, 76, 10);
        font-weight: 500;
    }

    #bar-title {
        position: absolute;
        left: 40px;
    }

    label {
        margin-left: 1%;
        margin-right: 1%;
    }
}